<Macro name=FormPanel defaultParam=content>
  <Param name=title type=string/>
  <Param name=content type=content/>
  <Param name=actions type=content/>

  <Panel title={@title} class=FormPanel>
    {@content|*}
    <Footer>
      <div class="action-bar">
        {@actions|*}
      </div>
    </Footer>
  </Panel>

  <Script name=FormPanel>
    // Autofocus the first text field if no field has the autofocus attribute.
    if (!$ ('[autofocus]').length)
      $ ('input[type=text]').eq (0).focus ();
  </Script>

</Macro>
