<t:form-page>

  <fieldset class="mainPanel">
    <div class="fieldset">
      <table class="form">
        <col width="33%"><col width="33%"><col width="33%">
        <tr>
          <td>
            <label for="key" class="form">Chave:</label>
            <c:if the="{!translation.key}" is-set>
              <t:static name="key" value="{!translation.key}" label="{!translation.key}"/>
              <p:else>
                <c:input name="key" value="{!translation.key}" focus="yes"/>
              </p:else>
            </c:if>
          </td>
          <td></td>
          <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <c:tabs data="{!languages}">
                <p:page-template>
                  <c:input type="multiline" name="text_{value}" value="{!translation.text_{value}}"/>
                </p:page-template>
              </c:tabs>
            </td>
          </tr>
        </table>
    </div>
  </fieldset>

  <p:actions>
    <t:buttons-save-delete key="{!translation.key}" item-name="esta chave de tradução"/>
  </p:actions>

</t:form-page>