<FormPage>

  <fieldset class="mainPanel">
    <div class="fieldset">
      <table class="form">
        <col width="33%"><col width="33%"><col width="33%">
        <tr>
          <td>
            <label for="key" class="form">Chave:</label>
            <If the="{{ !translation.key }}" isSet>
              <Static name="key" value="{{ !translation.key }}" label="{{ !translation.key }}"/>
              <Else>
                <Input name="key" value="{{ !translation.key }}" focus="yes"/>
              </Else>
            </If>
          </td>
          <td></td>
          <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <Tabs data="{{ !languages }}">
                <PageTemplate>
                  <Input type="multiline" name="text_{value}" value="{{ !translation.text_{value }}}"/>
                </PageTemplate>
              </Tabs>
            </td>
          </tr>
        </table>
    </div>
  </fieldset>

  <Actions>
    <ButtonsSaveDelete key="{{ !translation.key }}" item-name="esta chave de tradução"/>
  </Actions>

</FormPage>
