<Admin>
  <PageContent>
    <fieldset class="mainPanel">
      <div class="fieldset">
        <DataGrid data="{!translations}" onClickGoTo="translations/{key}">
          <Column width="40" type="row-selector">
            {#ord}
          </Column>
          <Column width="150" title="Chave">
            {key}
          </Column>
          <Column width="50%" title="Português">
            {text_pt}
          </Column>
          <Column width="50%" title="Inglês">
            {text_en}
          </Column>
          <NoData>
            Não existem traduções.
          </NoData>
        </DataGrid>
        <ButtonNew label="Nova chave" url="translations/{key}"/>
      </div>
    </fieldset>
  </PageContent>
</Admin>
