<t:admin>
  <p:content>
    <t:form>

      <p:content>
        <!-- disable autofill -->
        <input type="password" style="display:none">

        <c:field name="active" label="$LOGIN_ACTIVE">
          <c:checkbox test-value="{active}"/>
        </c:field>

        <c:field label="$LOGIN_USERNAME" name="username">
          <c:input value="{username}" autofocus="yes" autocomplete="no"/>
        </c:field>

        <c:field label="$LOGIN_PASSWORD" name="password">
          <c:input value="{password}" type="password" autocomplete="no"/>
        </c:field>

        <c:field label="$LOGIN_TYPE" name="type">
          <c:radiobutton value="admin" label="$LOGIN_TYPE_ADMIN" test-value="{type}"/>
          <c:radiobutton value="standard" label="$LOGIN_TYPE_STANDARD" test-value="{type}"/>
          <c:radiobutton value="guest" label="$LOGIN_TYPE_GUEST" test-value="{type}"/>
        </c:field>

      </p:content>

      <p:actions>
        <t:buttons-save-delete key="{username}"/>
      </p:actions>

    </t:form>
  </p:content>
</t:admin>
