<t:admin>
  <p:page-content>
    <t:form>

      <p:content>
        <!-- disable autofill -->
        <input type="password" style="display:none">

        <c:field label="Nome de utilizador" name="username">
          <c:input value="{username}" autofocus="yes" autocomplete="no"/>
        </c:field>

        <c:field label="Senha" name="password">
          <c:input value="{password}" type="password" autocomplete="no"/>
        </c:field>

        <c:field label="Tipo" name="type">
          <c:radiobutton value="admin" label="Administrador" test-value="{type}"/>
          <c:radiobutton value="standard" label="Normal" test-value="{type}"/>
          <c:radiobutton value="guest" label="Convidado" test-value="{type}"/>
        </c:field>

      </p:content>

      <p:actions>
        <t:buttons-save-delete key="{username}"/>
      </p:actions>

    </t:form>
  </p:page-content>
</t:admin>
