<t:form-page>
  <!-- disable autofill -->
  <input type="password" style="display:none">

  <c:form-layout>

    <c:if is="{!login.showActive}">
      <c:field name="_active" label="$LOGIN_ACTIVE">
        <c:checkbox test-value="{!login._active}"/>
      </c:field>
    </c:if>

    <c:field label="$LOGIN_USERNAME" name="_username">
      <c:input value="{!login._username}" autofocus="yes" autocomplete="no"/>
    </c:field>

    <c:field label="$LOGIN_PASSWORD" name="_password">
      <c:input value="{!login._password}" type="password" autocomplete="no"/>
    </c:field>

    <c:if is="{!login.showRoles}">
      <c:field label="$LOGIN_TYPE" name="_role">
        <c:radiobutton value="{!login.admin_role}"
                       label="$LOGIN_TYPE_ADMIN"
                       test-value="{!login._role}"
                       visible="{!login.isAdmin}"/>
        <c:radiobutton value="{!login.standard_role}" label="$LOGIN_TYPE_STANDARD" test-value="{!login._role}"/>
        <c:radiobutton value="{!login.guest_role}" label="$LOGIN_TYPE_GUEST" test-value="{!login._role}"/>
      </c:field>
    </c:if>

  </c:form-layout>

  <p:actions>
    <t:buttons-save-delete key="{!login.canDelete}"/>
  </p:actions>

</t:form-page>
