<t:admin>
  <p:page-content>
    <c:data-grid data="{!default}">
      <p:column width="40" type="row-selector"/>
      <p:column width="80" title="$LOGIN_ACTIVE" align="center" type="field"/>
      <p:column width="80%" title="$LOGIN_USERNAME"/>
      <p:column width="20%" title="$LOGIN_TYPE"/>
      <p:row-template on-click="{!URI.mainForm}">
        <p:column>{#ord}</p:column>
        <p:column><c:checkbox test-value="{active}" disabled="yes"/></p:column>
        <p:column>{username}</p:column>
        <p:column>{type}</p:column>
      </p:row-template>
      <p:no-data>
        {!admin.noItems}
      </p:no-data>
    </c:data-grid>
    <t:button-new url="{!URI.mainForm}"/>
  </p:page-content>
</t:admin>
