<GridPage>

  <DataGrid data="{{ !default }}" onClickGoTo="{{ !URI.mainForm }}">
    <Column width="40" type="row-selector">
      {{ #ord }}
    </Column>
    <Column width="80" title="$LOGIN_ACTIVE" align="center" type="field">
      <Checkbox testValue="{{ active }}" disabled/>
    </Column>
    <Column width="70%" title="$LOGIN_REAL_NAME">
      {{ realName }}
    </Column>
    <Column width="30%" title="$LOGIN_USERNAME">
      {{ username }}
    </Column>
    <Column width="145" title="$LOGIN_REGISTRATION_DATE">
      {{ registrationDate }}
    </Column>
    <Column width="145" title="$LOGIN_LAST_LOGIN">
      {{ lastLogin }}
    </Column>
    <Column width="80" title="$LOGIN_TYPE">
      {{ role }}
    </Column>
  </DataGrid>

  <Actions>
    <ButtonNew url="{{ !URI.mainForm }}"/>
  </Actions>

</GridPage>
