<GridPage>

  <DataGrid data={model} as="i:r" onClickGoTo={navigation.userForm + r.idField}>
    <Column width="40" type="row-selector">
      {i|ord}
    </Column>
    <Column width="80" title="$LOGIN_ACTIVE" align="center" type="field">
      <Checkbox checked={r.activeField} disabled/>
    </Column>
    <Column width="70%" title="$LOGIN_REAL_NAME">
      {r.realNameField}
    </Column>
    <Column width="30%" title="$LOGIN_USERNAME">
      {r.usernameField}
    </Column>
    <Column width="145" title="$LOGIN_REGISTRATION_DATE">
      {r.registrationDateField}
    </Column>
    <Column width="145" title="$LOGIN_LAST_LOGIN">
      {r.lastLoginField}
    </Column>
    <Column width="110" title="$LOGIN_ROLE">
      $LOGIN_ROLE_{r.roleField}
    </Column>

    <Actions>
      <ButtonDelete/>
      <ButtonNew url={navigation.userForm}/>
    </Actions>
  </DataGrid>

</GridPage>
