<Template name="BaseAdmin" defaultParam="content">
  <Param name="content" type="source"/>
  <Style src="lib/bootstrap/dist/css/bootstrap.min.css"/>

  <Style src="lib/datatables.net-bs/css/dataTables.bootstrap.min.css"/>
  <Style src="lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"/>

  <Style src="modules/selenia-plugins/admin-interface/css/metisMenu.css"/>
  <Style src="lib/chosen/chosen.min.css"/>
  <Style src="lib/font-awesome/css/font-awesome.min.css"/>
  <Style src="modules/selenia-plugins/matisse-components/dist/components.css"/>
  <Style src="modules/selenia-plugins/admin-interface/dist/main.css"/>

  <Script src="lib/jquery/dist/jquery.min.js"/>
  <Script src="lib/bootstrap/dist/js/bootstrap.min.js"/>

  <Script src="lib/datatables.net/js/jquery.dataTables.min.js"/>
  <Script src="lib/datatables.net-bs/js/dataTables.bootstrap.min.js"/>
  <Script src="lib/datatables.net-responsive/js/dataTables.responsive.min.js"/>

  <Script src="modules/selenia-plugins/admin-interface/js/metisMenu.js"/>
  <Script src="lib/chosen/chosen.jquery.min.js"/>
  <Script src="modules/selenia-plugins/admin-interface/js/main.js"/>
  <Head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </Head>

  {{ @content }}

</Template>
