/*--------------------------------------------------------------------
   ACTION BAR
--------------------------------------------------------------------*/

.action-bar {
  #theme.action-bar;

  &:after {
    clear: both;
    display: block;
    content: '';
  }

  button {
    width: 100px;
    position: relative;
    float: right;
    margin: 0;
    border-radius: 0;
    line-height: 37px;
    min-width: 120px;
  }

  .extra {
    float: left;

    .main-tabs {
      margin: 0;

      a {
        padding: 12px 5px;
      }
    }
  }

  .btn.with-icon {
    i {
      top: 16px;
      font-size: 17px;
    }
    &:not(.icon-right) {
      padding-left: 41px;
      i {
        left: 16px;
      }
    }
    &.icon-right {
      padding-right: 43px;
    }

  }

}

.grid-page .action-bar {
  margin-top: -66px;
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
}
