/*--------------------------------------------------------------------
   ACTION BAR
--------------------------------------------------------------------*/

.action-bar {
  margin: 15px 0 0 0;
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
}

.action-bar:after {
  clear: both;
  display: block;
  content: '';
}

.action-bar.right button {
  float: right;
  margin-left: 15px;
}

.action-bar.center {
  text-align: center;
}

.action-bar button {
  width: 100px;
  position: relative;
}

.action-bar .btn-group button {
  float: left;
}
