/*--------------------------------------------------------------------
   CONTENT HEADER FOR STANDARD PAGES
--------------------------------------------------------------------*/

.page-header-bar {
  position: relative;
  margin: 0 -15px;
  padding: 0 30px;
  #theme.page-header-bar;
}

.page-header {
  font-weight: 100;
  font-size: 28px;
  margin: 0 0 5px 0;
  padding-top: 20px;
  border-bottom: none;
}

.breadcrumb {
  background: transparent;
  padding: 0 0 10px 0;
  margin: 0 0 5px;
  &>li {
    font-size: 0; //prevent interference from white space
    &+li:before {
      font-size: 13px;
      padding: 0 2px;
    }
  }
  a {
    font-weight: 100;
    font-size: 13px;
    color: #999;
    i {
      margin-right: 5px;
    }
  }
}
