/*--------------------------------------------------------------------
   TOP BAR
--------------------------------------------------------------------*/

.navbar-static-top {
  #theme.top-bar;
  position: relative;

  a:hover, a:focus {
    #theme .top-bar-hover !important;
  }
  li
  a, .navbar-brand {
    #theme.top-bar-text;
    padding: 15px 20px;
  }
  .dropdown.open {
    a:not(:hover) {
      background-color: #FFF !important;
      color: #333 !important;
    }
    .dropdown-toggle {
      border: 1px solid #D8D8D8;
      border-bottom: none;
      height: 49px;
      z-index: 1001;
      padding: 14px;

      &:hover {
        background-color: #FFF !important;
        color: #333 !important;
      }
    }
    .dropdown-menu {
      border-radius: 0;
      margin-top: -1px;
    }
  }
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
