/*--------------------------------------------------------------------
   TOP BAR
--------------------------------------------------------------------*/

.navbar-static-top {
  #theme.top-bar;
  position: relative;

  .navbar-toggle {
    border: none;
    padding: 7px 9px;

    &:hover, &:focus {
      #theme.menu-button-active;
    }
    i {
      #theme.menu-button;
    }
  }

  a:hover, a:focus {
    #theme .top-bar-hover !important;
  }
  li a {
    padding: 8px 20px; // Spacing of menu links
  }
  .navbar-brand {
    padding: 15px 20px;
    float: none;
    display: block;
    text-align: center;
    #theme.top-bar-text !important;

    &:focus {
      background: transparent !important;
    }
  }
  .dropdown.open, .navbar-top-links .active {
    a:not(:hover) {
      #theme.top-bar-menu;
    }
    a[aria-expanded=true] {
      background: #FFF !important;
      color: #333 !important;
    }
    .dropdown-toggle {
      #theme.top-bar-selected;
      border-bottom: none;
      height: 49px;
      z-index: 1001;
      padding: 14px;
    }
    .dropdown-menu {
      border-radius: 0;
      margin-top: -1px;
    }
  }
}

.navbar-top-links {
  margin-right: 0;

  a {
    #theme.top-bar-text;
  }

  a i {
    margin-right: 10px;
  }

  li {
    display: inline-block;
  }

  li a {
    padding: 15px;
    min-height: 50px;
  }

  li.disabled a {
    #theme.top-bar-disabled-text;
  }

  .dropdown-menu li {
    display: block;
  }

  .dropdown-menu li:last-child {
    margin-right: 0;
  }

  .dropdown-menu li a {
    padding: 7px 20px;
    min-height: 0;
  }

  .dropdown-menu li a div {
    white-space: normal;
  }

}
