/*--------------------------------------------------------------------
   TOP BAR
--------------------------------------------------------------------*/

.navbar-static-top {
  #theme.top-bar;
  position: relative;

  .navbar-toggle {
    border: none;
    &:hover, &:focus {
      background: #0087BE;
      color: #FFF;
    }
    .icon-bar {
      background-color: #EEE;
    }
  }

  a:hover, a:focus {
    #theme .top-bar-hover !important;
  }
  li
  a {
    padding: 10px 20px;
  }
  .navbar-brand {
    #theme.top-bar-text !important;
    padding: 15px 20px;
    &:focus {
      background: transparent!important;
    }
  }
  .dropdown.open, .navbar-top-links .active {
    a:not(:hover) {
      background-color: #FFF !important;
      color: #333 !important;
    }
    .dropdown-toggle {
      border: 1px solid #D8D8D8;
      border-bottom: none;
      height: 49px;
      z-index: 1001;
      padding: 14px;

      &:hover {
        background-color: #FFF !important;
        color: #333 !important;
      }
    }
    .dropdown-menu {
      border-radius: 0;
      margin-top: -1px;
    }
  }
}

.navbar-top-links {
  margin-right: 0;

  a {
    #theme.top-bar-text;
  }

  a i {
    margin-right: 10px;
  }

  li {
    display: inline-block;
  }

  li a {
    padding: 15px;
    min-height: 50px;
  }

  .dropdown-menu li {
    display: block;
  }

  .dropdown-menu li:last-child {
    margin-right: 0;
  }

  .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
  }

  .dropdown-menu li a div {
    white-space: normal;
  }
}
