<Template name="BaseAdmin" defaultParam="content">
  <Param name="content" type="source"/>
  <Stylesheet src="lib/bootstrap/dist/css/bootstrap.min.css"/>
  <Stylesheet src="lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"/>
  <Stylesheet src="lib/datatables-responsive/css/dataTables.responsive.css"/>
  <Stylesheet src="modules/admin/css/metisMenu.css"/>
  <Stylesheet src="lib/chosen/chosen.min.css"/>
  <Stylesheet src="lib/font-awesome/css/font-awesome.min.css"/>
  <Stylesheet src="modules/admin/dist/main.css"/>
  <Script src="lib/jquery/dist/jquery.min.js"/>
  <Script src="lib/chosen/chosen.jquery.min.js"/>
  <Script src="lib/bootstrap/dist/js/bootstrap.min.js"/>
  <Script src="lib/datatables/media/js/jquery.dataTables.js"/>
  <Script src="lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"/>
  <Script src="lib/datatables-responsive/js/dataTables.responsive.js"/>
  <Script src="modules/admin/js/metisMenu.js"/>
  <Script src="modules/admin/js/main.js"/>
  <Head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </Head>

  {{ @content }}

</Template>
