<Template name="ButtonDropdown">
  <Param name="items" type="source"/>
  <Param name="label" type="text"/>
  <Param name="id" type="identifier"/>
  <Param name="class" type="text"/>
  <Param name="menuClass" type="text"/>
  <Param name="direction" type="text" default="dropdown"/>

  <div class="{{ @direction }} {{ @class }}" id="{{ @id }}">
    <button class="btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      {{ @label }} &nbsp; <span class="caret"></span>
    </button>
    <DropdownMenu class="{{ @menuClass }}" items="{{ @items }}" labelledBy="{{ @id }}"/>
  </div>

</Template>
