<Template name="DropdownMenu">
  <Param name="items" type="source"/>
  <Param name="class" type="text"/>
  <Param name="labelledBy" type="text"/>

  <ul class="dropdown-menu {{ @class }}" aria-labelledby="{{ @labelledBy }}">
    <Repeat for="{{ @items }}">
      <If isSet the="{{ href }}">
        <If is="{{ disabled }}">
          <li class="disabled"><a href="javascript:void(0)">{{ label }}</a></li>
          <Else>
            <li><a href="{{ href }}">{{ label }}</a></li>
          </Else>
        </If>
        <Else>
          <If the="{{ label }}" is="-">
            <li role="separator" class="divider"></li>
            <Else>
              <li class="dropdown-header">{{ label }}</li>
            </Else>
          </If>
        </Else>
      </If>
    </Repeat>
  </ul>

</Template>
