<?xml version="1.0" encoding="UTF-8"?>
<Template name="GoogleMap">
  <Param name="id" type="identifier"/>
  <Param name="backgroundColor" type="text" default="#FFF"/>
  <Param name="latitude" type="number" default="0"/>
  <Param name="longitude" type="number" default="0"/>
  <Param name="zoom" type="number" default="1"/>
  <Param name="text" type="text"/>
  <Param name="autoshow" type="boolean" default="yes"/>
  <Param name="showMarker" type="boolean" default="no"/>
  <Param name="draggableMarker" type="boolean" default="no"/>
  <Param name="draggable" type="boolean" default="true"/>

  <Param name="sensor" type="boolean" default="false"/>
  <Param name="language" type="identifier" default="en"/>
  <Param name="region" type="text"/>

  <Script name="gmap">
    var mapsOnPage = [];

    function loadMap (args) {
      var myLatlng  = new google.maps.LatLng (args.latitude, args.longitude);
      var myOptions = {
        zoom:            args.zoom,
        center:          myLatlng,
        mapTypeId:       google.maps.MapTypeId.ROADMAP,
        draggable:       args.draggable,
        zoomControl:     true,
        backgroundColor: args.backgroundColor
      };
      var map       = window[args.id + 'Obj'] = new google.maps.Map (document.getElementById (args.id), myOptions);
      if (args.showMarker) {
        var marker = window[args.id + 'Marker'] = new google.maps.Marker ({
          draggable: args.draggableMarker,
          map:       map,
          position:  myLatlng,
          title:     args.text
        });
      }
    }
    function googleMapsInit (deferredInit) {
      var t = deferredInit !== true;
      for (var n = 0; n < mapsOnPage.length; ++n)
        if (mapsOnPage[n].autoshow == t)
          loadMap (mapsOnPage[n]);
      if (t && exists ('mapReady'))
        mapReady ();
    }
  </Script>
  <Script>
    mapsOnPage.push ({
      id:              '{{ @id }}',
      autoshow:        {{ @autoshow }},
      backgroundColor: '{{ @backgroundColor }}',
      latitude:        number ('{{ @latitude }}', 0),
      longitude:       number ('{{ @longitude }}', 0),
      zoom:            number ('{{ @zoom }}', 1),
      text:            '{{ @text }}',
      showMarker:      {{ @showMarker }},
      draggableMarker: {{ @draggableMarker }},
      draggable:       {{ @draggable }}
    });
    if (mapsOnPage.length == 1)
      listen ('onLoad', function () {
        loadScript ('http://maps.googleapis.com/maps/api/js?sensor={{ @sensor }}&language={{ @language }}&region={{ @region }}&callback=googleMapsInit');
      });
  </Script>

  <div id="{{ @id }}" style="height:100%"></div>

</Template>
