<?xml version="1.0" encoding="UTF-8"?>
<Template name="Slideshow">
    <Param name="id"                      type="identifier"/>
    <Param name="data"                    type="data"/>
    <Param name="default-image"           type="text"/>
    <Param name="default-caption"         type="text"/>
    <Param name="continuous"              type="boolean"    default="true"/>
    <Param name="auto-play"               type="boolean"    default="true"/>
    <Param name="thumbs"                  type="boolean"    default="false"/>
    <Param name="width"                   type="number"/>
    <Param name="height"                  type="number"/>
    <Param name="quality"                 type="number"     default = "75"/>
    <Param name="thumb-width"             type="number"/>
    <Param name="thumb-height"            type="number"/>
    <Param name="thumb-quality"           type="number"     default = "75"/>
    <Param name="thumb-opacity"           type="number"     default="0.33"/>
    <Param name="thumbs-scroll-duration"  type="number"     default="1000"/>
    <Param name="thumbs-position"         type="text"       default="bottom"/>
    <Param name="circular-thumbs"         type="boolean"    default="false"/>
    <Param name="delay"                   type="number"     default = "4000"/>
    <Param name="duration"                type="number"     default = "1000"/>
    <Param name="crop"                    type="text"       default = "1"/>
    <Param name="watermark"               type="text"/>
    <Param name="watermark-opacity"       type="number"/>
    <Param name="watermark-padding"       type="number"/>
    <Param name="navigation"              type="text"/>
    <Param name="animation"               type="text"       default = "FadeAnimation"/>
    <Stylesheet src="private/selene/addons/templates/jQPresenter/jQPresenter.css"/>
    <Script src="private/selene/addons/templates/jQPresenter/jQPresenter.js"/>
    <Script name="slideshow">
jQuery(document).ready(function() {
  jQuery('#{{ @id }}').jQPresenter({
    animation: '{{ @animation }}',
    delay: {{ @delay }},
    transitionDuration: {{ @duration }},
    continuous: {{ @continuous }},
    thumbOpacity: {{ @thumb-opacity }},
    thumbsScrollDuration: {{ @thumbs-scroll-duration }},
    circularThumbs: {{ @circular-thumbs }},
    thumbsPosition: '{{ @thumbs-position }}',
    navigation: '{{ @navigation }}',
    autoPlay: {{ @auto-play }},
    plugins: ['Controller','Navigation','Thumbnails']
  });
});
    </Script>

    <div id="{{ @id }}" class="jQPresenter">
      <If the="{{ @thumbs }}" isTrue>
        <div class="thumbs">
          <Repeater data="{{ @data }}" rewind="yes">
            <Image value="{{ id }}" styles="width:{{ @thumb-width }};height:{{ @thumb-height }};quality:{{ @quality }};crop:1"/>
          </Repeater>
        </div>
      </If>
      <div class="main" style="width:{{ @width }}px;height:{{ @height }}px">
        <Repeater data="{{ @data }}">
          <If the="{{ link }}" isSet>
            <a href="{{ link }}"><Image value="{{ id }}" description="{{ caption }}" styles="width:{{ @width }};height:{{ @height }};quality:{{ @quality }};crop:{{ @crop }};watermark:{{ @watermark }};watermark-opacity:{{ @watermark-opacity }};watermark-padding:{{ @watermark-padding }}"/></a>
            <Else>
              <Image value="{{ id }}" description="{{ caption }}" styles="width:{{ @width }};height:{{ @height }};quality:{{ @quality }};crop:{{ @crop }};watermark:{{ @watermark }};watermark-opacity:{{ @watermark-opacity }};watermark-padding:{{ @watermark-padding }}"/>
            </Else>
          </If>
          <NoDdata>
            <If the="{{ @default-image }}" isSet>
              <image value="{{ @default-image }}" description="{{ @default-caption }}" styles="width:{{ @width }};height:{{ @height }};quality:{{ @quality }};crop:{{ @crop }};watermark:{{ @watermark }};watermark-opacity:{{ @watermark-opacity }};watermark-padding:{{ @watermark-padding }}"/>
            </If>
          </NoDdata>
        </Repeater>
      </div>
    </div>

</Template>
