<Template name="UserMenu">

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>
      {{ !sessionInfo.userRealName }} &nbsp;
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <If the="{{ !admin-interface.profile }}" isTrue>
        <li>
          <a href="{{ !admin-interface.prefix }}/user">
            <i class="fa fa-user fa-fw"></i>
            $LOGIN_PROFILE
          </a>
        </li>
      </If>
      <!--li>
        <a href="#">
          <i class="fa fa-gear fa-fw"></i>
          Settings
        </a>
      </li-->
      <li class="divider"></li>
      <li>
        <a href="javascript:doAction('logout')">
          <i class="fa fa-sign-out fa-fw"></i>
          $LOGOUT
        </a>
      </li>
    </ul>
  </li>

</Template>
