.form-horizontal {
  padding: 0 15px;
}

.form-control {
  background-color: transparent;
}

label {
  font-weight: normal;
}

.control-label {
  #theme.form-label;
}

label.static {
  margin: 0 0 10px 12px;
}

.section {
  font-size: 20px;
  border-bottom: 1px solid #E5E5E5;
}

.group {
  background-color: #FFF;
  padding: 60px 20px 20px 20px;
  border: 1px solid #E5E5E5;
  position: relative;

  &.space { margin-top: 30px }

  legend {
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 15px;
    background-color: #f3f6f8;
  }
}

.check-group {
  padding: 10px 0;
}

.form-group {

  .input-group {
    padding-right: 15px;
    padding-left: 15px;
  }

  label {
    .unselectable;
  }
}

.longText {
  //height: 362px !important;
}

.mediumText {
  //height: 226px !important;
}

.shortText {
  //height: 110px !important;
}

.veryShortText {
  //height: 72px !important;
}

.form-page {
  margin: 45px 30px 0;

  h3 {
    font-size: 18px;
    font-weight: 100;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 30px;
    line-height: 53px;
    margin: 0-15px 30px;
    background: #fafbfc;
    border-top: 1px solid #e8e8e8;  }

  h4 {
    font-weight: 700;
    color: #999;
    //border-bottom: 1px solid #e8e8e8;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 18px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
