/*--------------------------------------------------------------------
   MAIN LAYOUT
--------------------------------------------------------------------*/

html {
  #theme.background;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

body {
  font-family: Roboto, sans-serif;
  max-width: @maxWidth;
  min-height: 100%;
  #theme.main-background;
}

body.admin-interface::before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: @sidebar-width;
  #theme.sidebar;
}

#wrapper, form {
  height: 100%;
  width: 100%;
}

.page-content {
  #theme.content-background;
  position: relative;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 @sidebar-width;
  }
}

#page-wrapper {
  & > .container-fluid {
    padding: 0;
  }
}

.navbar-header {
  float: left;
  width: @sidebar-width;
  #theme.navbar-header;
  .navbar-brand:hover {
    background-color: transparent !important;
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

.navbar-default .sidebar {
  clear: both;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    margin-top: @topbar-height;
  }
}

//--------------------------
// DESKTOP
//--------------------------

@media (min-width: 1024px) {
  .sidebar {
    width: @sidebar-width - 1;
  }
}

//--------------------------
// TABLET
//--------------------------

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-default {
    .sidebar {
      width: @sidebar-reduced-width - 1;
    }
    .navbar-header {
      width: @sidebar-reduced-width;
    }
  }

  body.admin-interface::before {
    width: @sidebar-reduced-width;
  }

  #page-wrapper {
    margin-left: @sidebar-reduced-width;
  }
}

//--------------------------
// MOBILE
//--------------------------

@media (max-width: 767px) {
  body.admin-interface::before, .sidebar-nav {
    display: none;
  }

  .sidebar-nav.collapsing, .sidebar-nav.in {
    display: block;
    #theme.sidebar;
    border-bottom: 1px solid;
    border-top: none;
    border-right: none;
  }

  .navbar-default {
    .navbar-header {
      width: 100%;
    }
  }
}

// FROM BOOTSTRAP

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
  margin-right: -@navbar-padding-horizontal;

  ~ .navbar-right {
    margin-right: 0;
  }
}

// END FROM BOOTSTRAP

.grid-page {
  padding: 15px 15px 0;
}
