//-----------------------------
// Palette Generator
//-----------------------------

@alt-color1: hsl(@hue,@sat2,21% * @mult2);
@alt-color2: hsl(@hue,@sat2,26% * @mult2);

@theme-color1: hsl(@hue,@sat,26% * @mult);
@theme-color2: hsl(@hue,@sat,38% * @mult);
@theme-color3: hsl(@hue,@sat,42% * @mult);
@theme-color4: hsl(@hue,@sat,56% * @mult);
@theme-color5: hsl(@hue,@sat,76% * @mult);
@theme-color6: hsl(@hue,16%,85% * @mult);
@theme-backdrop: hsl(@hue,10%,70%);//hsl(@hue,3%,35%);

@theme-hilight: contrast(@theme-color4, @theme-color1, @theme-color4);
@theme-text-hilight: contrast(@theme-hilight, #333, #FFF);

// Semantic colors.
@brand-primary: hsl(@hue,50%,62% * @mult); // Original: #428bca
@brand-primary-color: contrast(@brand-primary, #333, #EEE);

@brand-success-color: contrast(@brand-success, #333, #EEE);
@brand-info-color: contrast(@brand-info, #333, #EEE);
@brand-warning-color: contrast(@brand-warning, #333, #EEE);
@brand-danger-color: contrast(@brand-danger, #333, #EEE);

// Button colors.
@btn-default-color: hsl(@hue, 30%, 92%);
@btn-default-border: hsl(@hue, 0%, 82%);
@btn-default-text: contrast(@btn-default-color, #666, #EEE);
@btn-border-darken: 0%;

@sidebar-border-width: 1px;
@header-color: hsl(@hue,16%, 56% * @mult);
@header-text-color: contrast(@header-color, #666, #EEE);

//-----------------------------
// The Theme
//-----------------------------

#theme() {
  .focus {
    outline: 1px dotted #888;
    outline-offset: -5px;
  }
  .hover {
    color: @theme-text-hilight !important;
    background-color: @theme-hilight !important;
  }
  .form-label {
    font-weight: 700;
    color: #333;
  }

  .background { background: @theme-backdrop; }
  .login-background { background: @theme-color2; }
  // Main background, behind the .content-background.
  .main-background {
    background: @main-background;
    border-right: 1px solid darken(@theme-backdrop, 40%)
  }
;

  // Large bar befpre main content.
  .page-header-bar {
    background: @theme-color3;
    color: contrast(@theme-color3, #333, #FFF);
  }
  .page-header-text2 { color: contrast(@theme-color3, @theme-color1, @theme-color5) }
  .page-header-text2H { color: contrast(@theme-color3, darken(@theme-color1,10%),lighten(@theme-color5,10%)) }
  .page-header-disabled-text { color: contrast(@theme-color3, @theme-color2, @theme-color4); }
  .page-header-selected-text {
    border-bottom: 2px solid contrast(@theme-color3,#FFF,@theme-color1);
    color: contrast(@theme-color3,#FFF,@theme-color1) !important;
  }

    // Central content area.
  .content-background {
  }

  .top-bar { background: @theme-color3; border: none; }
  .top-bar-menu { background-color: #FFF; color: #333 }
  .top-bar-selected { background-color: @theme-color3 !important; color: contrast(@theme-color3, #333, #FFF) !important }
  .top-bar-text { color: contrast(@theme-color1, #333, #FFF); }
  .top-bar-disabled-text { color: #888; }
  .top-bar-hover { #theme.hover; }

  // The topmost bar, includes the brand text.
  // It is partially hidden by .top-bar.
  .navbar-header {
    color: #FFF;
    //background-color: @theme-color4;
    //border-bottom: @sidebar-border-width solid @theme-backdrop;
    height: @topbar-height;
  }

  .sidebar {
    background: hsl(209,10%,24%);
  }
  .sidebar-border {
    //border-right: 2px solid #D2D4D5;
    //box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    border-right: @sidebar-border-width solid rgba(0,0,0,0.2);
  }
  .main-menu-item { color: #BBB; font-weight: 300; }
  .main-menu-hover-item {
    background-color: @theme-color3;
    color: contrast(@theme-color3, #333, #FFF, 70%) !important;
  }
  .main-menu-active-item { color: @theme-text-selected2; }
  .main-menu-disabled-item { color: darken(@theme-backdrop, 10%); }
  .main-menu-current-item {
    color: #FFF;
    //background-color: lighten(@alt-color2, 4%);
    //outline: 1px solid hsla(210,8%,85%,1);
    border-left: 5px solid @theme-color4;
    padding-left: 20px - 5px;
  }
  .main-menu-header-item { font-size: 15px; }

  .table-head {
    border: none;
    border-bottom: 1px solid darken(@theme-color6,20%);
  }
  .table-header {
    background-color: @theme-color6;
    color: contrast(@theme-color6,@theme-color1,#EEE);
    #theme.table-head;
  }
  .table-responsive-header { border-color: #E0E6EB !important; background-color: #F4F7FB !important; }
  .table-stripe { background-color: hsla(210,9%,97%,1); }
  .table-borders { border-color: hsla(210,9%,91%,1) !important; }
  .table-row-active { #theme.hover !important; }
  .table-footer {
    background-color: hsl(@hue, 20%, 94%);
    border-top: 1px solid hsl(@hue, 5%, 80%);
    border-bottom: 1px solid hsl(@hue, 5%, 80%);
  }

  // Action bar and its tabs.
  .action-bar {
    background-color: @theme-color3;
    border-bottom: @tabs-border-style;
  }
  .tab {
    background-color: @theme-color2;
    border: @tabs-border-style;
    border-bottom: none;
    color: contrast(@theme-color3, lighten(@theme-color2, 40%), darken(@theme-color3, 40%));
  }
  .tab-hover {
    #theme.hover;
    border: @tabs-border-style;
    border-bottom: none;
  }
  .tab-selected {
    background-color: @main-background;
    color: contrast(@main-background, #333, #FFF);
    border: @tabs-border-style;
    border-bottom: none;
    font-weight: 700;
  }
  .tab-selected-hover {
    border-bottom-color: @main-background;
  }

  .admin-bar { background-color: hsl(@hue, 0%, 20%); }
  .admin-icon { color: hsl(@hue, 9%, 60%); }
  .admin-selected-icon { background-color: hsl(@hue, 9%, 30%); color: #EEE; }
  .admin-hover-icon { color: #EEE; }
}

.btn-default {
  .button-variant(@btn-default-color; @btn-default-color; @btn-default-border);
  color: @btn-default-text;
  &:hover { color: @btn-default-text; }
}
.btn-primary {
  .button-variant(@brand-primary-color; @brand-primary; darken(@brand-primary,@btn-border-darken));
}
// Success appears as green
.btn-success {
  .button-variant(@brand-success-color; @brand-success; darken(@brand-success,@btn-border-darken));
}
// Info appears as blue-green
.btn-info {
  .button-variant(@brand-info-color; @brand-info; darken(@brand-info,@btn-border-darken));
}
// Warning appears as orange
.btn-warning {
  .button-variant(@brand-warning-color; @brand-warning; darken(@brand-warning,@btn-border-darken));
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@brand-danger-color; @brand-danger; darken(@brand-danger,@btn-border-darken));
}
