//-----------------------------
// Layout
//-----------------------------

@maxWidth: none; //1398px; // 1400-2px to fix chrome bug
@sidebar-width: 256px;
@sidebar-reduced-width: 68px;
@topbar-height: 48px;
@menu-item-height: 36px;
@footer-height: 44px;
@footer-margin: 30px;
@admin-bar-width: 112px;

//-----------------------------

@lib-path: '../../../../lib';
@public-path: '..';
@bootstrap-path: '../../../bower_components/bootstrap/less';
