//-----------------------------
// Layout
//-----------------------------

@maxWidth:1398px; // 1400-2px to fix chrome bug
@sidebar-width: 192px;
@sidebar-reduced-width: 192px;
@topbar-height: 50px;
@menu-item-height: 30px;
@footer-height: 41px;
@footer-margin: 30px;
@admin-bar-width: 112px;

//-----------------------------

@lib-path: '../../../../lib';
@public-path: '..';
@bootstrap-path: '../../../bower_components/bootstrap/less';
