<Macro name=tabs-layout defaultParam=tabs>
  <Param name=tabs type=content/>
  <Param name=class type=string/>
  <Param name=autofocus type=bool/>

  {@tabs|*}

  <div class=tabs-layout>

    <ul class="nav nav-tabs {@class}" role=tablist>
      {#TabsLayout_tabs|*}
    </ul>

    <div class=tab-content>
      {#TabsLayout_panes|*}
    </div>

  </div>

  <Script name=TabsLayout_init>
    <If {@autofocus}>
    // Autofocus first tab input.
    $ ('.tabs-layout a[data-toggle=tab]').on ('shown.bs.tab', function (e) {
      var page = $ ($ (e.target).attr ('href'));
      console.log(page,page.find ('.form-control:visible').first ());
      page.find ('.form-control:visible').first ().focus ();
      selenia.topic ('tabChanged').send (page);
    });
    </If>

    // Show first tab
    $ ('[role=tabpanel]:first-of-type').addClass ('active');
    $ ('.tabs-layout li:first-of-type').addClass ('active').find ('a').trigger ('shown.bs.tab');

    // We are not using tab plugin here as it has a bug that causes an error with tabs having multilingual fields.
    // $ ('.tabs-layout li:first-of-type a').tab ('show');
  </Script>

</Macro>
