#side-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 15px;
  //padding-left: 15px;

  a.disabled {
    #theme.main-menu-disabled-item;
    pointer-events: none;
  }

  li {
    border: none;

    &.current a {
      #theme.main-menu-current-item;
    }
  }

  a {
    padding: 0 15px 0 40px;
    line-height: 28px;
    #theme.main-menu-item;

    &:focus {
      background-color: transparent;
    }
    &.active {
      #theme.main-menu-active-item;
    }
    &:hover, &.active:hover {
      #theme.main-menu-hover-item;
    }
    i {
      margin-left: -26px;
      width: 22px;
    }
  }

  .header {
    border-bottom: 1px solid #DDD;
    margin: 10px 15px 5px 15px;

    a {
      padding: 10px 0 5px 0;
      background: transparent !important;
      #theme.main-menu-header-item;

      &.active, &:hover {
        border: none;
        margin: 0;
        #theme.main-menu-header-item;
      }
    }

    i {
      font-size: 13px;
    }

  }

}

.sidebar {
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    box-shadow: none; /*override Bootstrap*/
  }

  .arrow {
    float: right;
  }

  .fa.arrow:before {
    content: "\f104";
  }

  .active > a > .fa.arrow:before {
    content: "\f107";
  }

  .nav-second-level li,
  .nav-third-level li {
    border-bottom: none !important;
  }

  .nav-second-level li a {
    padding-left: 37px;
  }

  .nav-third-level li a {
    padding-left: 52px;
  }
}
