<FormPage>

  <!-- disable browser's autofill and password-saving prompt -->
  <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="visibility:hidden;position:absolute"/>
  <input type="password" name="password_fake" id="password_fake" value="" style="visibility:hidden;position:absolute"/>

  <FormLayout layout="H">

    <If {show.active}>
      <Field name="active" label="$LOGIN_ACTIVE" model="active">
        <Switch/>
      </Field>
    </If>

    <Field label="$LOGIN_USERNAME" model="username">
      <Input required maxLength="30"
             autofocus
             autoselect
             autocomplete="no"
             />
    </Field>

    <Field label="$LOGIN_PASSWORD" model="password">
      <Input type="password" required minLength="6" autocomplete="no"/>
    </Field>

    <Field label="$LOGIN_REAL_NAME" model="realName">
      <Input autocomplete="no"/>
    </Field>

    <If {show.roles}>
      <Field label="$LOGIN_ROLE" name="role">
        <RadioButton value={role.dev} label="$LOGIN_ROLE_3" testValue={model.role} hidden={model.role!=role.dev}/>
        <RadioButton value={role.admin}
                     label="$LOGIN_ROLE_2"
                     testValue={model.role}
                     hidden="{model.role!=role.admin && model.role!=role.dev}"/>
        <RadioButton value={role.standard} label="$LOGIN_ROLE_1" testValue={model.role}/>
        <RadioButton value={role.guest} label="$LOGIN_ROLE_0" testValue={model.role}/>
      </Field>
    </If>

  </FormLayout>

  <Actions>
    <ButtonsSaveDelete key={canDelete} model={user}/>
  </Actions>

</FormPage>
