<Import services="session"/>
<AppPage>
  <FormPanel>

    <!-- disable browser's autofill and password-saving prompt -->
    <input type=text
           name=prevent_autofill
           id=prevent_autofill
           value=""
           style="visibility:hidden;position:absolute"/>
    <input type=password
           name=password_fake
           id=password_fake
           value=""
           style="visibility:hidden;position:absolute"/>

    <FormLayout layout=H>

      <If {show.active}>
        <Field label=$LOGIN_ACTIVE bind=model.active>
          <Switch/>
        </Field>
        <Field label=$LOGIN_ENABLED bind=model.enabled>
          <Switch/>
        </Field>
      </If>

      <Field label=$LOGIN_USERNAME bind=model.username defaultValue={oldUsername}>
        <Input required maxLength=30 autofocus autoselect autocomplete=no/>
      </Field>

      <Field label=$LOGIN_EMAIL bind=model.email defaultValue={oldEmail}>
        <Input required maxLength=100 autofocus autoselect autocomplete=no/>
      </Field>

      <Field label=$LOGIN_PASSWORD bind=model.password defaultValue={oldPassword}>
        <Input type=password required minLength=6 autocomplete=no/>
      </Field>

      <Field label=$LOGIN_REAL_NAME bind=model.realName defaultValue={oldRealName}>
        <Input autocomplete=no/>
      </Field>

      <If {show.roles}>
        <Field label=$LOGIN_ROLE bind=model.role>
          <RadioButton value={role.dev} label=$LOGIN_ROLE_3 hidden={model.role!=role.dev}/>
          <RadioButton value={role.admin} label=$LOGIN_ROLE_2 hidden={model.role!=role.admin && model.role!=role.dev}/>
          <RadioButton value={role.standard} label=$LOGIN_ROLE_1/>
          <RadioButton value={role.guest} label=$LOGIN_ROLE_0/>
        </Field>
      </If>

    </FormLayout>

    <Actions>
      <StandardFormActions key={canDelete}/>
    </Actions>

  </FormPanel>
</AppPage>
