<Macro name="FormLayout2Columns">
  <Param name="column1" type="content"/>
  <Param name="column2" type="content"/>
  <Param name="columnClass" type="string" default="col-sm-12 col-lg-6"/>
  <Param name="formClass" type="string" default="form-horizontal"/>
  <Param name="labelClass" type="string" default="col-md-3"/>
  <Param name="fieldClass" type="string" default="col-md-9"/>

  <div class="row">
    <div class="{{ @columnClass }}">
      <div class="{{ @formClass }}">
        <Apply where="Field">
          <Set width="{{ @fieldClass }}" labelWidth="{{ @labelClass }}"/>
          {{ @column1 }}
        </Apply>
      </div>
    </div>
    <div class="{{ @columnClass }}">
      <div class="{{ @formClass }}">
        <Apply where="Field">
          <Set width="{{ @fieldClass }}" labelWidth="{{ @labelClass }}"/>
          {{ @column2 }}
        </Apply>
      </div>
    </div>
  </div>

</Macro>
