<Macro name="FormLayout" defaultParam="content">
  <Param name="content" type="content"/>
  <Param name="formClass" type="string"/>
  <Param name="fieldClass" type="string" default="form-group col-sm-10 col-md-9 col-lg-7"/>
  <Param name="labelClass" type="string" default=""/>
  <Param name="controlClass" type="string" default="form-control"/>
  <Param name="groupClass" type="string"/>

  <div class="row form-layout">
    <div class="{{ @formClass }}">
      <Apply where="Field">
        <Set class="{{ @fieldClass }}"
             labelClass="{{ @labelClass }}"
             controlClass="{{ @controlClass }}"
             groupClass="{{ @groupClass }}"/>

        {{ @content }}

      </Apply>
    </div>
  </div>

</Macro>
