<Macro name=TabbedForm defaultParam=tabs>
  <Param name=tabs type=content/>
  <Param name=actions type=content/>
  <Param name=multilingual type=bool/>

  <If is={@multilingual}>
    <ShowLanguageSelector/>
  </If>

  {@tabs}

  <Content of=main>

    <ActionBar>
      {@actions}

      <Extra>
        <ul class="nav nav-tabs main-tabs">
          {!! #tabs !!}
        </ul>
      </Extra>
    </ActionBar>

    <div class=tab-content>
      {!! #tabPanels !!}
    </div>

  </Content>

  <Include view=layouts/main.html/>
</Macro>
